.bookingForm{
    @include contentContainer;
}



.bookingContainer{
    &__inputfield{
        @include input-field;
        height: 45px;
        min-width: 100%;
        &--left{
            @include input-field;
            height: 45px;
            min-width: 92%;
        }
    }
    &____numbertitle{
        line-height: 0.2;
    }
    &__date{
        @include input-field;
        height: 45px;
        width: 100%;
        &--left{
            @include input-field;
            height: 45px;
            margin-right: 34px;
            width: 86%;
        }
    }

    &__guests{
        @include input-field;
        height: 45px;
        width:90%;
    }
    &__title{
        margin-top: 12px;
    }
    &__note{
        @include input-field;
        height: 105px;
        width: 100% ;
    }
    &__submit{
        @include input-field;
        width: 100%;
        border-color: $dark-lime;
        font-size: 1.3em;
        padding: 7px;
        background-color: white;
        &:hover{
            background-color: $light-lime;
        }
        &:disabled {
            &:hover{
                background-color: white;
            }
        }
    }
    &__errorMessage{
        @include input-warning;
        &--hide{
            display: none;
        }
    }

}
[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}

@media only screen and (max-width: 800px) {
   
    .bookingForm{
        @include contentContainer;
        margin: 5%;
        padding: 5%;
        width: 90%;
    }

.bookingContainer{
    &__inputfield{
        &--left{
            min-width: 100%;
        }
    }
    &____numbertitle{
        line-height: 0.2;
    }
    &__date{
        
        &--left{
            width: 100%;
        }
    }

    &__guests{
        width:100%;
        margin-top: -10px;
    }
    
    }
    
}
