.bookingForm{
    @include contentContainer;
}

.formGrid{
    display: grid;
    grid-template-columns: [line1] 10% [line2] 42% [line3] 25% [line3] 23%;
    row-gap: 25px;
    margin-top: 25px;
    &__Number1{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__Number2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__Number3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__Number4{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__Number5{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__Number6{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    &__Number7{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &__Number8{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__Number9{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    &__Number10{
        grid-column-start:3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    &__Number11{
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

.bookingContainer{
    &__inputfield{
        @include input-field;
        height: 45px;
        min-width: 100%;
        &--left{
            @include input-field;
            height: 45px;
            min-width: 92%;
        }
    }
    &____numbertitle{
        line-height: 0.2;
    }
    &__date{
        @include input-field;
        height: 45px;
        width: 100%;
        &--left{
            @include input-field;
            height: 45px;
            margin-right: 34px;
            width: 86%;
        }
    }

    &__guests{
        @include input-field;
        height: 45px;
        width:90%;
    }
    &__title{
        margin-top: 12px;
    }
    &__note{
        @include input-field;
        height: 105px;
        width: 100% ;
    }
    &__submit{
        @include input-field;
        width: 100%;
        border-color: $dark-lime;
        font-size: 1.3em;
        padding: 7px;
        background-color: white;
        &:hover{
            background-color: $light-lime;
        }
        &:disabled {
            &:hover{
                background-color: white;
            }
        }
    }
    &__errorMessage{
        @include input-warning;
        &--hide{
            display: none;
        }
    }

}
[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(https://mywildalberta.ca/images/GFX-MWA-Parks-Reservations.png) no-repeat;
    width: 20px;
    height: 20px;
    border-width: thin;
}