.contactForm{
    @include contentContainer;
}

.inputContainer{
    &__inputfield{
        @include input-field;
        height: 45px;
        min-width: 400px;
        &--left{
            @include input-field;
            height: 45px;
            min-width: 400px;
        }
    }
    &__messagefield{
        @include input-field;
        min-height: 200px;
        min-width: 840px;
    }
    &__submit{
        @include input-field;
        width: 100%;
        border-color: $dark-lime;
        font-size: 1.3em;
        float: left;
        background-color: white;
        &:hover{
            background-color: $light-lime;
        }
    }&__errorMessage{
        @include input-warning;
    }

}