
.formGrid{
    display: grid;
    grid-template-columns: [line1] 10% [line2] 42% [line3] 25% [line3] 23%;
    row-gap: 25px;
    margin-top: 25px;
    &__Number1{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__Number2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__Number3{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__Number4{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    &__Number5{
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__Number6{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    &__Number7{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    &__Number8{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    &__Number9{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    &__Number10{
        grid-column-start:3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }
    &__Number11{
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }
    &__Number12{
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__Number13{
        grid-column-start:1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}