.cardcontainer{
    @include contentContainer;
    margin-top: 40px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns:auto auto;
    padding: 40px;
    &__title{
        grid-column: 1 / 3;
    }
}

.card{
    @include main-shaddow;
    min-width: 280px;

    background-color: white;
    &__image{
        width: 398px;
        height: 300px;
    }
    &__title{
        margin: 30px;
        margin-bottom: 6px;
        margin-top: 20px;
    }
    &__line{
        height: 2px;
        width: 350px;
        margin: 24px;
        margin-bottom: 0;
        margin-top: 2px;
        background-color: $dark-lime;
        z-index: 1000;
    }
    &__text{
        margin: 30px;
        margin-top: 12px;
        margin-bottom: 30px;
    }
    &__btn{
        &--left{
            border: 2px solid $dark-lime;
            padding: 7px ;
            font-family: bilo, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 1.1em;
            margin: 30px;
            margin-top: 0;
            float: left;
            &:hover{
                background-color: $light-blue;
            }
            &:focus{
            outline: none;
            border-color: $dark-pink;
            }
        }
        &--right{
            border: 2px solid $dark-lime;
            padding: 7px ;
            font-family: bilo, sans-serif;
            font-weight: 300;
            font-style: normal;
            font-size: 1.1em;
            margin: 30px;
            margin-top: 0;
            float: right;
            text-decoration: none;
            &:hover{
                background-color: $light-blue;
            }
            &:focus{
            outline: none;
            border-color: $dark-pink;
            }

        }
    }
}

@media only screen and (max-width: 800px) {
    .cardcontainer{
        @include contentContainer;
        margin: 5%;
        width: 90%;
        display: grid;
        grid-template-columns: [line1] 100% ;
        padding: 5%;

    grid-gap: 25px;
        &__title{
            grid-column: 1;
            font-size: 2.2em;
        }
    }
    
    .card{
        @include main-shaddow;
        min-width: 100%;
        height: auto;
    
        background-color: white;
        &__image{
            width: 100%;
            height: 150px;
        }
        &__title{
            margin: 15px;
            margin-bottom: 3px;
            margin-top: 10px;
        }
        &__line{
            height: 2px;
            width: 90%;
            margin: 5%;
            margin-bottom: 0;
            margin-top: 8px;
            background-color: $dark-lime;
            z-index: 1000;
        }
        &__text{
            margin: 5%;
            margin-top: 12px;
            margin-bottom: 30px;
        }
        &__btn{
            &--left{
                margin: 5%;
                margin-top: 0;
            }
            &--right{
                margin: 5%;
                margin-top: 0;
            }
        }
    }
  }