.navbar{
    &__hide{
        display: block;
    }
    .navicon{
        display: none;
        &__hide{
            display: none;
        }
    }
    padding-top: 180px;
    &__link{
        @include largeLink;
        margin-left: 40px;
        float: left;
        &-right{
            @include largeLink;
            float: right;
            margin-right: 40px;
        }
    }
    &__line{
        height: 2px;
        width: 100%;
        background-color: $dark-blue;
        margin-top: 45px;
    }
    &__slider{
        &--1pos{
            @include shuffle;
            margin-left: 20px;
            width: 120px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &--2pos{
            @include shuffle;
            margin-left: 140px;
            width: 140px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &--3pos{
            @include shuffle;
            margin-left: 290px;
            width: 140px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &--4pos{
            @include shuffle;
            margin-left: 790px;
            width: 180px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
    }
}

@media only screen and (max-width: 800px) {
    .navicon{
        display: block;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        margin-left: 82%;
        margin-top: 20px;
        background-color: white;
        border: 2px solid $dark-blue;
        padding-top: 8px;
        padding-left: 5px;

        &__bar{
            background-color: $dark-blue;
            height: 5px;
            width: 30px;
            margin-bottom: 5px;
        }
        &__hide{
            display: none;
        }
    }
    .navbar{
        display: block;
        padding-top: 100px;
        &__link{ 
        margin-left: 0;
        &-right{
            float: none;
            margin-right: 0;
        }
        &__hide{
            display: none;
        }
            &--mobile{
                width: 90%;
                height: 45px;
                margin: 3px;
                margin-left: 5%;
                padding: 0 15px;
                border-color: 2px solid $dark-blue;
                background-color: white;
            }
        }
        &__line{
            display: none;
        }
        &__slider{
            &--1pos{
                display: none;
            }
            &--2pos{
                display: none;
            }
            &--3pos{
                display: none;
            }
            &--4pos{
                display: none;
            }
        }
    }
    

}