.navbar{
    padding-top: 180px;
    &__link{
        @include largeLink;
        margin-left: 40px;
        &-right{
            @include largeLink;
            float: right;
            margin-right: 40px;
        }
    }
    &__line{
        height: 2px;
        width: 100%;
        background-color: $dark-blue;
        margin-top: 12px;
    }
    &__slider{
        &--1pos{
            @include shuffle;
            margin-left: 20px;
            width: 120px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &--2pos{
            @include shuffle;
            margin-left: 140px;
            width: 140px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &--3pos{
            @include shuffle;
            margin-left: 290px;
            width: 140px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
        &--4pos{
            @include shuffle;
            margin-left: 790px;
            width: 180px;
            transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        }
    }
}


  
  